<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Contact Form Submission</title>
    <style type="text/css" rel="stylesheet" media="all">
        .preheader {
            display: none !important;
            visibility: hidden;
            mso-hide: all;
            font-size: 1px;
            line-height: 1px;
            max-height: 0;
            max-width: 0;
            opacity: 0;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <span class="preheader"><%= preheader %></span>
    <% for (const item in data) { %>
        <p>
            <strong>
                <%= item %>:
            </strong>
            <%= data[item] %>
        </p>
    <% } %>
</body>

</html>